.movie{
    height: 100vh;
    width: 100vw;
    position: relative;
    &-head{
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 5%;
        width: 100%;
        height: 100%;
        background: url("../Assets//shadow-img.png") top center no-repeat;
        z-index: 10000;
        background-size: 100% 100%;
        &-text{
            height: 70%;
            
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            text-align: left;
            width: 50%;

            div,p{
                margin-bottom: 20px;
                font-size: 1.4rem;
            }
            p{
                font-size: 1.3rem !important;
            }
          
            &-name{
                font-size: 2.4rem !important;
            }
            &-advisory{
                font-size: 1rem;
                display: flex;
                align-items: center;
                div{
                    height: fit-content;
                    display: flex;
                    align-items: center;
                    img{
                    margin-left: 10px;
                    width: 35px;
                }
                }
                width: 100%;
                height: 30px;
                
            }
            &-trailer{
                cursor: pointer;
                font-size: 1.2rem;
                display: flex;
                align-items: center;
                img{
                    width: 25px;
                    margin-right: 10px;
                }
            }
        }
    }
    &-trailer{
        position: absolute;
        top: 0;
        background-color: #3d1f98;
        width: 100vw;
        height: 100vh;
        span{
            padding: 10px 20px;
            width: 100%;
            position: absolute;
            display: flex;
            justify-content: flex-end;
            z-index: 9999;
            img{
                cursor: pointer;
                width: 30px;
            }
        }
        &-container{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
           
            video{
                height: 100%;
                width: 100%;
            }
        }
    }
}